
@{
    var currentUrl = Context.Request.Path;
    var configureMenuItem = new[]
    {
        new { Url = "/Role/Index", Text = "Role Setup" },
        new { Url = "/User/Index", Text = "User Setup" },
        new { Url = "/RolePermission/Index", Text = "Role Wise Permission" },
        new { Url = "/Doctor/Index", Text = "Doctor Setup" },
        new { Url = "/Investigation/Index", Text = "Investigation Setup" }
    };
    var appointmentMenuItem = new[]
    {
        new { Url = "/PatientAppointment/Index", Text = "Patient Appointment" },
        new { Url = "/InvestigationResult/Index", Text = "Investigation Result" },
        new { Url = "/Payment/Index", Text = "Payment" },
        new { Url = "/PatientAppointment/PatientHistory", Text = "Patient History" }
    };
    var adminMenuItem = new[]
           {
        new { Url = "/AllPatientAppointment/Index", Text = "All Appointment" },
        new { Url = "/AllPatientAppointment/Index", Text = "Expense" },
        new { Url = "/AllPatientAppointment/Index", Text = "Income" },
      
    };
}

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
            <span class="app-brand-text demo menu-text fw-bold ms-2">GreenLife Diagonistic</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.4854 4.88844C11.0081 4.41121 10.2344 4.41121 9.75715 4.88844L4.51028 10.1353C4.03297 10.6126 4.03297 11.3865 4.51028 11.8638L9.75715 17.1107C10.2344 17.5879 11.0081 17.5879 11.4854 17.1107C11.9626 16.6334 11.9626 15.8597 11.4854 15.3824L7.96672 11.8638C7.48942 11.3865 7.48942 10.6126 7.96672 10.1353L11.4854 6.61667C11.9626 6.13943 11.9626 5.36568 11.4854 4.88844Z"
                      fill="currentColor"
                      fill-opacity="0.6" />
                <path d="M15.8683 4.88844L10.6214 10.1353C10.1441 10.6126 10.1441 11.3865 10.6214 11.8638L15.8683 17.1107C16.3455 17.5879 17.1192 17.5879 17.5965 17.1107C18.0737 16.6334 18.0737 15.8597 17.5965 15.3824L14.0778 11.8638C13.6005 11.3865 13.6005 10.6126 14.0778 10.1353L17.5965 6.61667C18.0737 6.13943 18.0737 5.36568 17.5965 4.88844C17.1192 4.41121 16.3455 4.41121 15.8683 4.88844Z"
                      fill="currentColor"
                      fill-opacity="0.38" />
            </svg>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">      
        @{         
            var parentMenuOpen = configureMenuItem.Where(i => i.Url == currentUrl).ToList();
            <li class="menu-item @(parentMenuOpen.Any() ? "open" : "")">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons mdi mdi-window-maximize"></i>
                    <div data-i18n="Configuration">Configuration</div>
                </a>
                @foreach (var item in configureMenuItem)
                {
                    <ul class="menu-sub">
                        <li class="menu-item @(Context.Request.Path == item.Url ? "active" : "")">
                            <a href=@item.Url class="menu-link">
                                <div>@item.Text</div>
                            </a>
                        </li>
                    </ul>
                }

            </li>
        }

        @{         
            var appointmentMenuOpen = appointmentMenuItem.Where(i => i.Url == currentUrl).ToList();
            <li class="menu-item @(appointmentMenuOpen.Any() ? "open" : "")">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons mdi mdi-window-maximize"></i>
                    <div data-i18n="Configuration">Patient Appointment</div>
                </a>
                @foreach (var item in appointmentMenuItem)
                {
                    <ul class="menu-sub">
                        <li class="menu-item @(Context.Request.Path == item.Url ? "active" : "")">
                            <a href=@item.Url class="menu-link">
                                <div>@item.Text</div>
                            </a>
                        </li>
                    </ul>
                }

            </li>
        }

        @{
            var adminMenuOpen = adminMenuItem.Where(i => i.Url == currentUrl).ToList();
            <li class="menu-item @(appointmentMenuOpen.Any() ? "open" : "")">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons mdi mdi-window-maximize"></i>
                    <div data-i18n="Admin">Admin</div>
                </a>
                @foreach (var item in adminMenuItem)
                {
                    <ul class="menu-sub">
                        <li class="menu-item @(Context.Request.Path == item.Url ? "active" : "")">
                            <a href=@item.Url class="menu-link">
                                <div>@item.Text</div>
                            </a>
                        </li>
                    </ul>
                }

            </li>
        }
        
    </ul>
</aside>
